@import '../../Index.scss';

.badges{
  background-color: $primary_bg;
  color: $primary_dark;
  // width: 90px;
  padding: .34rem 1.50rem;
  height: 40px;
  border-radius: 39px;
  line-height: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  // width: 120px;
  width: fit-content;
  &>span{
    @extend %Typography-text-LS;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: $mediaWidthMobileL){
  .badges{
    // padding: 0.2rem .3rem;
    &>span{
      font-size: 12px;
    }
  }
}
@media (max-width: $mediaWidthMobileXS){
  .badges{
    position: relative;
    // padding: 0.2rem .3rem;
    &>span{
      font-size: 12px!important;
    }
  }
}