@import '../Index.scss';

.banner-img{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 10px 50px;
  top: 70px;
  position: relative;
  &>.img{
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  &>.button, &>a>.button{
    &:hover{
      background: black;
    }
    &:active{
      background: rgb(54, 54, 54);
    }
    &:focus{
      box-shadow: 0 0 0 8px #0000003b;  
    }
    position: relative;
    /* right: 37.5%; */
    top: -90px;
    // width: 120px;
    // height: 35px;
    background: black;
    // border: none;
    // color: white;
    border-radius: 15px;
    // font-family: "Comic Sans MS", "Comic Sans", cursive;

  }
}

.bank__table{
  margin: 10px 0;
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  &>thead{
    width: 100%;
    vertical-align: bottom;
    border-bottom: solid 2px $greyscale_input;
    &>tr>th{
      padding: .5rem .5rem;
      &.th__end{
        text-align: end;
      }
      &.th__start{
        text-align: start;
      }
    }
  }
  &>tbody{
    vertical-align: inherit;
    &>tr>td{
      padding: .5rem .5rem;
      &.td__end{
        text-align: end;
      }
      &.td__start{
        text-align: start;
      }
    }
  }
  &>tfoot{
    margin-top: 10px;
    border-top: solid 3px $greyscale_input;
    &>tr>td{
      padding: .5rem .5rem;
      &.td__end{
        text-align: end;
      }
      &.td__start{
        text-align: start;
      }
    }  
  }
}

@media (max-width: $mediaWidth1){
  .banner-img{
    margin: 10px 10px;
    &>.button, &>a>.button{
      top: -40px;
    }
  }
}
@media (max-width: $mediaWidthMobileS){
  .bank__table{
    font-size: 13px;
  }
  .banner-img{
    margin: 10px 10px;
    &>.button, &>a>.button{
      top: -25px;
    }
  }
}