@import '../Index.scss';

.play{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  &>.headerMain{
    position: absolute;
    top:0;
  }

  &>.carton__title-content{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    margin: 40px 0 20px 0;
    &>div{
      display: flex;
      flex-direction: column;
      align-items: center;
      &>h1{
        margin: 0;
        @extend %Typography-text-DM;
      }
      &>.badges{
        &>span{
          @extend %Typography-text-LXS;
        }
        margin: 10px 0 0 0;
        left: 0;
        width: 176px;
        height: 30px;
      }
    }
    &>.row{
      transition: all .5s;
      width: 24px;
      height: 24px;
    }
  }

  &>.carton{
    // margin: 40px 0;
    width: 90%;
    &>.carton__content{

      &>.hidden-data{
        width: 100%;
        overflow: scroll;
        &>.data{
          display: flex;
          width: calc(100% * 3);
          flex-direction: row;
          flex-wrap: nowrap;
          position: relative;
          justify-content: center;
          &>.item{
            height: 100%;
            max-width: 400px;
            position: relative;
            width: 100%;
            margin: 0 10px;
            &>table{
              height: 100%;
            }
            &>.foot{
              align-items: center;
              display: flex;
              justify-content: space-between;
              &>.button{
                height: 40px;
                margin: 10px 0 0 10px;
              }
              &>.badges{
                height: 40px;
                margin: 10px 10px 0 0px;
              }
            }
          }
        }
      }
    
      &>h1{
        margin: 0 0 20px 20px;
      }
      margin: 20px 10px 45px 10px;
    }
  }
}
