@import './Index.scss';
*{
  font-family: 'Poppins', sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  position: absolute;
  min-height: 100%;
  background: $greyscale_line;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

}

#react{
  scroll-behavior: smooth;
  position: absolute;
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-flow: wrap;
  // justify-content: center;
  // overflow-x: hidden;
}

hr{
  border-top: solid 2px $greyscale_input;
}

.copy{
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
   -khtml-user-select: text; /* Konqueror HTML */
     -moz-user-select: text; /* Old versions of Firefox */
      -ms-user-select: text; /* Internet Explorer/Edge */
          user-select: text; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

a {
  cursor: pointer;
  &>*{
    cursor: pointer;
  }
}

button {
  cursor: pointer;
  &>*{
    cursor: pointer;
  }
}

.select{
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Old versions of Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.img{
  width: 75%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 1rem;;
}

@media (max-width: $mediaWidth1){
  .img{
    width: 100%;
  } 
}

.title {
  text-align: center;
  margin: 2rem;
  @extend %Typography-text-DS;
}