
$greyscale_off-black:#14142B;
$greyscale_ash:#262338;
$greyscale_body:#4E4B66;
$greyscale_label:#6E7191;
$greyscale_placeholder:#A0A3BD;
$greyscale_line:#D9DBE9;
$greyscale_input:#EFF0F6;
$greyscale_bg:#F7F7FC;
$greyscale_off-white:#FCFCFC;

// deprecated
$greyscale_inputBG: red;
$greyscale_title-active: red;
// ----------

$primary_dark: #4700AB;
$primary_default: #610BEF;
$primary_dark-mode: #A996FF;
$primary_light: #BFBEFC;
$primary_bg: #EBECFE;

$secondary_dark: #0041AC;
$secondary_default: #005BD4;
$secondary_dark-mode: #50C8FC;
$secondary_light: #8DE9FF;
$secondary_bg: #E3FEFF;

$error_dark: #9E0038;
$error_default: #CA024F;
$error_dark-mode: #FF75CB;
$error_light: #FFABE8;
$error_bg: #FFECFC;

$success_dark: #067306;
$success_default: #008A00;
$success_dark-mode: #93E374;
$success_bg: #CBFFAE;
$success_light: #EAF9DE;

$mediaWidth1: 768px;
$mediaWidth2: 320px;
$mediaWidthTablet: 768px;
$mediaWidthMobileL: 425px;
$mediaWidthMobileM: 375px;
$mediaWidthMobileS: 320px;
$mediaWidthMobileXS: 290px;