@import '../Index.scss';

header{
  width: 100%;
  top: -60px;
  position: relative;
}

.headerA{
  top: 0px;
}

.headerMain{
  position: absolute;
  top: 0;
}

.disNone{
  display: none;
}

.bubble{
  @extend %Typography-text-TS;
  font-size: 9px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  left: 12px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: solid $primary_dark 2px;
  background: #F4B740;
  color: $greyscale_off-white;
}

.contentLibre-off{
  z-index: 1;
  // top: -60px;
  background: transparent;
  height: 60px;
  width: 100%;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  &>a>.forwardIcon{
    z-index: 10000;
    color: transparent;
    position: relative;
    // top: 20px;
    margin-left: 10px;
    display: inline-block;
  }
  &>h1{
    color: transparent;
    display: inline-block;
    position: relative;
    // top: 20px;
    @extend %Typography-text-LM;
  }
  &>.lastIcon{
    margin-right: 10px;
    width: 42px;
    display: inline-block;
    position: relative;
    // top: 20px;
    color: transparent;
  }
}

.contentLibre{
  transition: .3s all;
  top: 0px;
  background: $primary_dark;
  // background: red;
  z-index: 100000;
  height: 60px;
  width: 100%;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;


  &>a>.forwardIcon{
    z-index: 10000;
    transition: 1s all;
    color: $greyscale_off-white;
    position: relative;
    // top: 20px;
    margin-left: 10px;
    display: inline-block;
  }
  &>.forwardIcon{
    z-index: 10000;
    color: $greyscale_off-white;
    position: relative;
    // top: 20px;
    margin-left: 10px;
    display: inline-block;
  }
  &>h1{
    transition: 1s all;
    color: $greyscale_off-white;
    display: inline-block;
    position: relative;
    // top: 20px;
    @extend %Typography-text-LM;
  }
  &>.lastIcon{
    margin-right: 10px;
    transition: 1s all;
    width: 42px;
    display: inline-block;
    z-index: 1000000000000000000;
    position: relative;
    // top: 20px;
    color: $greyscale_off-white;
  }
}

.contentLibreA{
  transition: .3s all;
  background: $primary_dark;
  height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $greyscale_off-white;

  &>a>h1{
    transition: 1s all;
    color: $greyscale_off-white;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    // top: 20px;
    @extend %Typography-text-LL;
  }
  &>.lastIcon{
    // margin-right: 10px;
    transition: 1s all;
    width: 42px;
    display: inline-block;
    z-index: 1000000000000000000;
    position: relative;
    // top: 20px;
    color: $greyscale_off-white;
  }
}

.contentLibreB{
  transition: .3s all;
  background: $primary_dark;
  height: 60px;
    width: 100%;
    display: flex;
    // justify-content: center;
    justify-content: space-around;
    align-items: center;
    color: $greyscale_off-white;
    &>a>h1{
    transition: 1s all;
    color: $greyscale_off-white;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    // top: 20px;
    @extend %Typography-text-LL;
  }
  &>.lastIcon{
    // margin-right: 10px;
    transition: 1s all;
    width: 42px;
    display: inline-block;
    z-index: 1000000000000000000;
    position: relative;
    // top: 20px;
    color: $greyscale_off-white;
  }
}

.header{
  width: 100%;
  margin-bottom: 40px;
  // height: 400px;
  // border-radius: 0 0 70px 70px;
  // background: $primary_dark;
  &>.banner{
    position:absolute;
    width: 100%;
    height: 400px ;
    border-radius: 0 0 70px 70px;
    background: $primary_dark;
    box-shadow: 0px 4px 130px -5px rgba(0, 0, 0, 0.25);
  }
  &>.content{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>a>.forwardIcon{
      z-index: 10000;
      color: $greyscale_off-white;
      position: relative;
      // top: 20px;
      margin-left: 10px;
      display: inline-block;
    }
    &>h1{
      color: $greyscale_off-white;
      display: inline-block;
      position: relative;
      // top: 20px;
      @extend %Typography-text-LM;
    }
    &>.lastIcon{
      margin-right: 10px;
      width: 42px;
      display: inline-block;
    z-index: 1000000000000000000;
    position: relative;
      // top: 20px;
      color: $greyscale_off-white;
    }
  }
  &>.info{
    
    &>h1{
      width: 200px;
      left: 40px;
      top: 20px;
      text-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
      position: relative;
      color: $greyscale_off-white;
      @extend %Typography-text-DMB;
      font-size: 35px;
    }
    &>.card{
      animation: upHeader .85s cubic-bezier(0, 0, 0.2, 1);
      padding: 40px;
      position: relative;
      top: 40px;
      left: 2.5%;
      width: 90%;
      text-align: center;
      text-align: -webkit-center;
      &>h1{
        text-align: center;
        @extend %Typography-text-DSB;
        margin-bottom: 30px;
      }
      &>p{
        margin-bottom: 50px;
        position: relative;
        text-align: center;
        text-align: -webkit-center;
        @extend %Typography-text-TS;
      }
    }
  }
}

.headerHome{

  &>.contentHeaderHome{
    &>.banner{
      position:absolute;
      width: 100%;
      height: 90%;
      // height: 400px ;
      z-index: -1;
      // border-radius: 0 0 70px 70px;
      background: $primary_dark;
      box-shadow: 0px 4px 130px -5px rgba(0, 0, 0, 0.25);
    }
    &>.content{
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &>a>.forwardIcon{
        z-index: 10000;
        color: $greyscale_off-white;
        position: relative;
        // top: 20px;
        margin-left: 10px;
        display: inline-block;
      }
      &>h1{
        color: $greyscale_off-white;
        display: inline-block;
        position: relative;
        // top: 20px;
        margin-left: 20px;
        @extend %Typography-text-LL;
      }
      &>.lastIcon{
        margin-right: 10px;
        width: 42px;
        display: inline-block;
        z-index: 1000000000000000000;
        position: relative;
        // top: 20px;
        color: $greyscale_off-white;
      }
    }
    &>.info{
      display: flex;
      flex-direction: column;
      align-items: center;
      &>h1{
        text-align: center;
        width: 90%;
        // left: 40px;
        top: 20px;
        text-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
        position: relative;
        color: $greyscale_off-white;
        @extend %Typography-text-DL;
        font-size: 35px;
      }
      p{
        text-align: center;
        width: 60%;
        // left: 40px;
        top: 20px;
        position: relative;
        color: $greyscale_off-white;
        @extend %Typography-text-TL;
      }
      &>.card{
        padding: 0!important;
        // height: 420px;
        animation: upHeader .85s cubic-bezier(0, 0, 0.2, 1);
        position: relative;
        top: 40px;
        margin-top: 135px;
        // left: 2.5%;
        width: 100%;
        background: $greyscale_inputBG;
        box-shadow: 0px 52px 118px rgba(0, 0, 0, 0.12);
        text-align: center;
        text-align: -webkit-center;
        &>.circule{
          top: -110px;
          position: relative;
          background: $greyscale_inputBG;
          width: 180px;
          height: 180px;
          border-radius: 100%;
          &>div{
            top: 5px;
            position: relative;
            background: linear-gradient(114.44deg, #EB0055 0%, #FFFA80 100%);
            width: 170px;
            height: 170px;
            border-radius: 100%;
            &>div{
              top: 10px;
              position: relative;
              background: $greyscale_inputBG;
              width: 150px;
              height: 150px;
              border-radius: 100%;
              overflow: hidden;
              &>img{
                top: 2.5px;
                // top: 5px;
                position: relative;
                width: 145px;
                height: 145px;
              }
            }
          }
        }
        &>p{
          top: -100px;
          position: relative;
          color: $greyscale_title-active;
          margin-bottom: 50px;
          position: relative;
          text-align: center;
          text-align: -webkit-center;
          @extend %Typography-text-TXS;
        }
        &>.contentItem{
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;;
          &>a{
            text-decoration: none;
            &>.itemHome{
              background: $greyscale_off-white;
              color: $greyscale_title-active;
              filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1));
              width: 150px;
              margin: 10px;
              border-radius: 30px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              height: 150px;
              &>p{
                top: 0;
                @extend %Typography-text-LM;
                color: $greyscale_title-active;  
              }
            }
          }
        }
        &>div{
          top: -100px;
          position: relative;
        }
      }
    }
  }
}

@keyframes upHeader {
  0%{
    top: 250px;
    // visibility:  hidden;
    background: transparent;
    color: transparent;
  }
  100%{
    // visibility: none;
    top: 40px;
  }
}